---
import '../styles/global.css';
import Header from '@components/ui/Header.astro';
import SidePanel from '@components/ui/SidePanel.astro';
import Footer from '@components/ui/Footer.astro';
import PageNavigation from '@components/ui/PageNavigation.astro';

interface Props {
  pageTitle: string;
}

import { articles } from '../data/articles-metadata';
const currentPath = Astro.url.pathname.slice(1);

const numOfArticles = articles.length;
const indexOfCurrArticle = articles.findIndex(article => article.slug === currentPath);

const { prev, next, first, last } = {
  prev: articles[indexOfCurrArticle - 1],
  next: articles[indexOfCurrArticle + 1],
  first: indexOfCurrArticle === 0,
  last: indexOfCurrArticle === numOfArticles - 1,
};

console.log('first', first);
console.log('last', last);
console.log('prev', prev);
console.log('next', next);

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Matt Millard</title>
  </head>
  <body>
    <Header />
    <SidePanel currentPath={currentPath} />
    <main class="page">
      <div class="flow content-container">
        <slot />
        <PageNavigation nextArticle={next} previousArticle={prev} mostRecentArticle={first} oldestArticle={last} />
      </div>
    </main>
  </body>
  <Footer />
</html>

<script>
  import '@scripts/side-panel';
</script>
