---
interface Props {
  title: string;
  description: string;
  imageUrl: string;
  altText: string;
  createdAt: string;
  updatedAt?: string | null;
  slug: string;
  estimatedReadTime: string;
}

const { title, description, imageUrl, altText, createdAt, updatedAt, slug, estimatedReadTime } = Astro.props;
---

<a href={`/${slug}`}>
  <div class="card-container">
    <img src={imageUrl} alt={altText} />
    <div class="card-content">
      <h3>{title}</h3>
      <p>{description}</p>
    </div>
  </div>
</a>

<style>
  a {
    text-decoration: none;
  }
  .card-container {
    padding: 2rem;
    /* background-color: var(--background-card); */
    /* border-radius: var(--radius-sm); */
    /* box-shadow: var(--shadow-sm); */
  }

  img {
    border-radius: var(--radius-sm);
  }

  .card-content {
    margin-top: 1rem;
    display: grid;
    row-gap: 0.25rem;

    h3 {
      color: var(--text);
    }
  }
</style>
