---
import type { CollectionEntry } from "astro:content";
import PubDate from "./PubDate.astro";
import Tag from "./Tag.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, image, tag, pubDate } = post.data;
const slug = post.id;
---

<article class="post-container stack-sm">
  <img
    class="post-image"
    src={image.url}
    alt={image.alt}
    srcset=""
    loading="lazy"
  />
  <div class="post-body stack-sm">
    <div class="post-meta">
      <PubDate date={pubDate} />
      <Tag tag={tag} />
    </div>
    <a href={`/posts/${slug}`}>
      <div class="post-text stack-sm">
        <h3 class="truncate-2">{title}</h3>
        <p class="truncate-3">{description}</p>
      </div>
    </a>
  </div>
</article>

<style>
  .post-container {
    display: flex;
    flex-direction: column;
  }

  .post-image {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: var(--radius-xl);
  }

  .post-body {
    /* --space: 0; */
    flex-grow: 1;
  }

  .post-meta {
    margin-block-end: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  .post-text {
    --space: var(--space-3xs);
  }

  /* Media queries */
  @media (min-width: 36rem) {
    .post-image {
      aspect-ratio: 2 / 1;
    }
  }

  @media (min-width: 90rem) {
    .post-container {
      flex-direction: row;
      column-gap: 1.5rem;
    }

    .post-image {
      aspect-ratio: 1 / 1;
      width: 16rem;
      height: 16rem;
    }

    .post-body {
      --space: 0;
    }
  }
</style>
